allow netd sysfs_net:file rw_file_perms;
allow netd device:file { write };
allow netd netd:capability { sys_admin };
allow netd device:file { open };
